@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('./fonts/NunitoSans10pt-ExtraBold.woff2') format('woff2'),
        url('./fonts/NunitoSans10pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('./fonts/NunitoSans10pt-SemiBold.woff2') format('woff2'),
        url('./fonts/NunitoSans10pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito Sans 10pt';
    src: url('./fonts/NunitoSans10pt-Light.woff2') format('woff2'),
        url('./fonts/NunitoSans10pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

