@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-ExtraBold.woff2") format("woff2"), url("./fonts/NunitoSans10pt-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-SemiBold.woff2") format("woff2"), url("./fonts/NunitoSans10pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-Light.woff2") format("woff2"), url("./fonts/NunitoSans10pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans 10pt";
  font-style: normal;
}

.main-panel {
  height: calc(100vh - 67px);
  padding: 40px 60px;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  overflow-y: scroll;
}

.main-panel::-webkit-scrollbar {
  width: 8px;
}

.main-panel::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

.main-panelr::-webkit-scrollbar-track {
  background-color: transparent;
}

.main-controls {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navigation .logo {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
.navigation .logo .logo-link {
  text-decoration: none;
}
.navigation .logo .logo-link:visited {
  color: inherit;
}
.navigation .theme-changer {
  display: inline-flex;
  column-gap: 10px;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.navigation .theme-changer::before {
  content: url("./icons/moon-regular.svg");
  transform: rotate(-30deg);
}

.input-container {
  display: flex;
}
.input-container .input-search {
  height: 42px;
  background-image: url("./icons/magnifying-glass-solid.svg");
  background-position: 20px 13px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 52px;
  width: 325px;
  transition: all 0.1s ease 0s;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
}
.input-container .input-search:focus {
  background-position: 0px 18px;
  background-size: 1px;
  padding-left: 15px;
}

.countries-filter {
  font-size: 12px;
  font-weight: 600;
  position: relative;
}
.countries-filter .selected-option {
  height: 42px;
  background-color: hsl(0, 0%, 100%);
  line-height: 42px;
  padding-left: 20px;
  padding-right: 50px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  background-image: url("./icons/chevron-down-solid.svg");
  background-position: 130px 15px;
  background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
  position: relative;
}
.countries-filter .selected-option--expanded {
  background-image: url("./icons/chevron-up-solid.svg");
  background-position: 130px 15px;
  background-repeat: no-repeat;
  background-size: 12px;
}
.countries-filter .region-list--expanded {
  list-style-type: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 45px;
  width: 100%;
  z-index: 99999;
  padding: 10px 0px;
}
.countries-filter .region-list--expanded .region-item {
  padding: 5px 50px 5px 20px;
  cursor: pointer;
}
.countries-filter .region-list--expanded .region-item:hover {
  background-color: hsl(0, 0%, 98%);
}
.countries-filter .region-list {
  display: none;
}

@media (max-width: 650px) {
  .main-controls {
    flex-direction: column;
    row-gap: 40px;
  }
}
.countries-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 80px;
  justify-content: space-between;
  align-items: center;
}
.countries-list .country-card {
  display: flex;
  flex-direction: column;
  min-width: 248px;
  width: calc(25% - 80px);
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}
.countries-list .country-card .flag {
  background-color: black;
  height: 200px;
}
.countries-list .country-card .country-data {
  padding: 20px;
}
.countries-list .country-card .country-data .name {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}
.countries-list .country-card .country-data .label {
  font-weight: 600;
  font-size: 14px;
}
.countries-list .country-card .country-data .data {
  font-size: 14px;
}
.countries-list .country-card .country-data .capital {
  margin-bottom: 10px;
}

@media (max-width: 703px) {
  .countries-list {
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
