@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-ExtraBold.woff2") format("woff2"), url("./fonts/NunitoSans10pt-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-SemiBold.woff2") format("woff2"), url("./fonts/NunitoSans10pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans 10pt";
  src: url("./fonts/NunitoSans10pt-Light.woff2") format("woff2"), url("./fonts/NunitoSans10pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}
.icon.icon-arrow-right {
  width: 12px;
  height: 12px;
  transform: rotate(180deg);
}
.icon.large {
  width: 48px;
  height: 48px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans 10pt";
  font-style: normal;
}

input[type=search]::-webkit-search-cancel-button {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-panel {
  padding: 40px 60px;
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-controls {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 5px 30px;
  background: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
}
.button:hover {
  transform: scale(1.05);
  transition: all 0.1s ease-in;
}
.button.back-button {
  gap: 5px;
}

@media (max-width: 500px) {
  .main-panel {
    padding: 30px 10px;
  }
}
.viewed-history {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recently-viewed {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.recently-viewed span {
  font-size: 12px;
  font-weight: 600;
}
.recently-viewed .flags-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.recently-viewed .flag-link {
  display: inline-block;
  width: 50px;
  height: 35px;
}
.recently-viewed .flag-img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
}
.recently-viewed .flag-img:hover {
  transform: scale(1.1);
}
.recently-viewed .flag-link .flag-img {
  height: unset;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.navigation .logo {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}
.navigation .logo .logo-link {
  text-decoration: none;
}
.navigation .logo .logo-link:visited {
  color: inherit;
}
.navigation .theme-changer {
  display: inline-flex;
  column-gap: 10px;
  background: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
}

@media (max-width: 500px) {
  .navigation {
    padding: 20px 10px;
  }
}
.input-container {
  display: flex;
  position: relative;
}
.input-container .input-search {
  height: 42px;
  background-image: url("./icons/magnifying-glass-solid.svg");
  background-position: 20px 13px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 52px;
  width: 225px;
  transition: all 0.1s ease 0s;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  align-self: flex-end;
  padding-right: 40px;
}
.input-container .input-search:focus {
  background-position: 0px 18px;
  background-size: 1px;
  padding-left: 15px;
}
.input-container .clear-button {
  background: none;
  border: none;
  height: fit-content;
  font-weight: 600;
  position: absolute;
  top: 50%;
  right: 10px;
  text-transform: lowercase;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
.input-container .clear-button .icon-x {
  width: 12px;
}

.countries-dropdown {
  font-size: 12px;
  min-width: 161px;
  font-weight: 600;
  position: relative;
}
.countries-dropdown .selected-option {
  height: 42px;
  user-select: none;
  background-color: hsl(0, 0%, 100%);
  line-height: 42px;
  padding-left: 20px;
  padding-right: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  min-width: 200px;
}
.countries-dropdown .selected-option .icon-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.1s ease-in;
  width: 12px;
}
.countries-dropdown .selected-option--expanded .icon-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.1s ease-in;
}
.countries-dropdown .dropdown-list--expanded {
  list-style-type: none;
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 72px;
  width: 100%;
  z-index: 99999;
  padding: 10px 0px;
}
.countries-dropdown .dropdown-list--expanded .dropdown-item {
  padding: 5px 50px 5px 20px;
  cursor: pointer;
}
.countries-dropdown .dropdown-list--expanded .dropdown-item:hover {
  background-color: hsl(0, 0%, 98%);
}
.countries-dropdown .dropdown-list {
  display: none;
}

.countries-filter {
  margin-left: auto;
  margin-right: 10px;
}

.countries-label {
  margin-bottom: 5px;
}

@media (max-width: 650px) {
  .main-controls {
    flex-direction: column;
    row-gap: 40px;
  }
}
.countries-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  list-style-type: none;
}

.countries-list:has(p[class=no-results]) {
  display: block;
}

.countries-list:has(.country-details) {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.country-card {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.1s ease-in;
}

.country-card:hover {
  transform: scale(1.05);
}

.flag {
  height: 200px;
  border-radius: 4px 4px 0 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.flag-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.country-data {
  padding: 20px;
}

.name {
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}

.label {
  font-weight: 600;
  font-size: 14px;
}

.data {
  font-size: 14px;
}

.borders-data {
  list-style: none;
  display: inline-flex;
}
.borders-data li {
  padding: 10px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  background: white;
  border-radius: 4px;
  border: 1px solid #202020;
}

.capital {
  margin-bottom: 10px;
}

@media (max-width: 1273px) {
  .countries-list {
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    gap: 48px;
  }
}
.countries-details {
  display: flex;
  flex-grow: 1;
}
.countries-details .country-details {
  display: flex;
  flex-grow: 1;
  column-gap: 80px;
}
.countries-details .flag-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.countries-details .name {
  font-size: 32px;
}
.countries-details .country-data-cols {
  display: flex;
  column-gap: 150px;
  margin-top: 30px;
  margin-bottom: 100px;
}
.countries-details .country-data-first-col div,
.countries-details .country-data-second-col div {
  margin: 5px 0px;
}

.darkmode {
  color: hsl(0, 0%, 100%);
}
.darkmode button {
  color: hsl(0, 0%, 100%);
  background-color: hsl(209, 23%, 22%);
  box-shadow: rgba(14, 19, 22, 0.2) 0px 8px 24px;
}
.darkmode .main-panel {
  background-color: hsl(207, 26%, 17%);
}
.darkmode .navigation {
  background-color: hsl(209, 23%, 22%);
}
.darkmode .theme-changer {
  box-shadow: none;
}
.darkmode .countries-dropdown .selected-option {
  background-color: hsl(209, 23%, 22%);
  box-shadow: none;
}
.darkmode .countries-dropdown .dropdown-list--expanded {
  background-color: hsl(209, 23%, 22%);
  box-shadow: none;
}
.darkmode .country-card {
  background-color: hsl(209, 23%, 22%);
  box-shadow: rgba(14, 19, 22, 0.2) 0px 8px 24px;
}
.darkmode .borders-data li {
  background-color: hsl(209, 23%, 22%);
}
.darkmode .input-container .input-search {
  background-color: hsl(209, 23%, 22%);
  background-image: url("./icons/magnifying-glass-dm.svg");
  box-shadow: rgba(14, 19, 22, 0.2) 0px 8px 24px;
  color: hsl(0, 0%, 100%);
}
.darkmode .input-container .input-search::placeholder {
  color: hsl(0, 0%, 100%);
}
.darkmode .countries-dropdown .dropdown-list--expanded .dropdown-item:hover {
  background-color: hsl(200, 15%, 8%);
}

/*# sourceMappingURL=style.css.map */
