@use "../variables/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans 10pt';
    font-style: normal;
}

.main-panel {
    padding: variables.$app-padding;
    background-color: variables.$very-light-gray;
    display: flex;
    flex-direction: column;
    row-gap: 60px;
}

.main-controls {
    display: flex;
    justify-content: space-between;
}