@use "../variables/variables";

.input-container {
    display: flex;
    position: relative;

    .input-search {
        height: variables.$control-height;
        background-image: url("./icons/magnifying-glass-solid.svg");
        background-position: 20px 13px;
        background-repeat: no-repeat;
        background-size: 16px;
        padding-left: 52px;
        width: 225px;
        transition: all 0.1s ease 0s;
        border: none;
        box-shadow: variables.$control-boxShadow;
        border-radius: variables.$control-border-radius;
        align-self: flex-end;
        padding-right: 50px;

        &:focus {
            background-position: 0px 18px;
            background-size: 1px;
            padding-left: 15px;
        }
    }

    .clear-button {
        background: none;
        border: none;
        height: fit-content;
        font-weight: 600;
        position: absolute;
        top: 54%;
        right: 10px;
        text-transform: lowercase;
        cursor: pointer;
    }
}

.countries-dropdown {
    font-size: 12px;
    min-width: 161px;
    font-weight: 600;
    position: relative;

    .selected-option {
        height: variables.$control-height;
        user-select: none;
        background-color: variables.$white;
        line-height: variables.$control-height;
        padding-left: 20px;
        padding-right: 10px;
        box-shadow: variables.$control-boxShadow;
        border-radius: variables.$control-border-radius;
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        min-width: 200px;

        .icon-chevron-down {
            transform: rotate(0deg);
            transition: transform 0.1s ease-in;
            width: 12px;
        }

        &--expanded {
            .icon-chevron-down {
                transform: rotate(180deg);
                transition: transform 0.1s ease-in;
            }
        }
    }

    .region-list--expanded {
        list-style-type: none;
        background-color: variables.$white;
        border-radius: variables.$control-border-radius;
        box-shadow: variables.$control-boxShadow;
        position: absolute;
        top: 72px;
        width: 100%;
        z-index: 99999;
        padding: 10px 0px;

        .region-item {
            padding: 5px 50px 5px 20px;
            cursor: pointer;

            &:hover {
                background-color: variables.$very-light-gray;
            }
        }
    }

    .region-list {
        display: none;
    }
}

.countries-filter {
    margin-left: auto;
    margin-right: 10px;
}

.countries-label {
    margin-bottom: 5px;
}

@media (max-width: 650px){
    .main-controls {
        flex-direction: column;
        row-gap: 40px;
    }
}