.recently-viewed {
  display: flex;
  align-items: center;
  margin-left: 15px;

  .flags-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 10px;
  }

  .flag-link {
    display: inline-block;
    width: 50px;
    height: 35px;
  }

  .flag-img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }

  .flag-img:hover {
    transform: scale(1.1);
  }

  .flag-link .flag-img {
    height: unset;
  }
}
